.chatters {
  .chattersCard {
    margin: 16px 32px 32px 32px;
  }

  .chartCard {
    margin: 32px 16px 16px 32px;
    height: 414px;
  }

  .statusCard {
    margin: 32px 32px 16px 16px;
    height: 414px;
  }

  .chattersReplay {
    text-align: center;
  }

  .timeFrameSelect {
    width: 120px;
  }

  .status {
    h2 {
      font-weight: 700;
      font-size: 24px;
    }
  }
}