.carousel {
  ul > li > button {
    background-color: #1890ff !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    margin: 2px !important;
  }
}