.AppContainer {
  .navigation {
    width: calc(100% - 200px);
    float: left;
  }

  .sourceLoaded {
    width: 200px;
    float: left;
    text-align: right;
    border-bottom: 1px solid #17171f;
    line-height: 63px;
    height: 64px;
    font-weight: 700;
    font-size: 16px;
    padding-right: 35px;
  }
}

.carousel {
  ul > li > button {
    background-color: #1890ff !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    margin: 2px !important;
  }
}