.settings {
  .title {
    display: inline-block;
    margin-bottom: 30px;
  }

  .settingsCard {
    margin: 32px;
  }

  .notificationPreview {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
    padding: 30px;
  }

  .saveButton {
    float: right;
  }

  .halfCol {
    float: left;
    width: 50%;
  }
}