.chatters {
  .chattersCard {
    margin: 32px
  }

  .chattersReplay {
    text-align: center
  }

  .timeFrameSelect {
    width: 120px;
  }

  .sourceLoaded {
    font-weight: 700;
    font-size: 16px;
  }
}